<!-- extends表明此页面继承自 base.html 文件 -->
{% extends "base.html" %}
{% load static %}

<!-- 写入 base.html 中定义的 title -->
{% block title %}
    Details about
{% endblock title %}

<!-- 写入 base.html 中定义的 content -->
{% block content %}
    <!--一个在屏幕缩小到一定尺寸时显示的可折叠目录的按钮-->
    <div class="navbar nav-item bg-light d-md-none">
        <button class="navbar-toggler d-md-none bg-light" type="button" data-toggle="collapse" data-target="#hidden-toc"
                aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <i class="fa fa-bookmark" aria-hidden="true"></i>
        </button>
        <!-- 隐藏目录 -->
        <div class="collapse navbar-collapse d-md-none bg-light" id="hidden-toc">
            <div class="navbar-nav ml-auto">
                <div class="card-body" style="padding: 20px 0 0 0; overflow: auto;">
                    <div class="card-text toc-list" style="overflow: hidden;">
                        {{ toc|safe }}
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!--正文及全屏浏览下的目录布局-->
    <div class="container">
        <div class="row">
            <!-- 标题及作者 -->
            <div class="col-9">
                <nav aria-label="breadcrumb">
                    <ol class="breadcrumb bg-white border-0 rounded-0 mb-2 py-2 f-15">
                        <li class="breadcrumb-item">
                            <a href="{% url 'article:article_list' %}"><i class="fa fa-home mr-1"></i>Articles</a>
                        </li>
                        <li class="breadcrumb-item">
                            <a href="{% url 'article:category' article.column.id %}">
                                <i class="fa fa-bars mr-1"></i>{{ article.column }}
                            </a>
                        </li>
                        <li class="breadcrumb-item active d-none d-md-block" aria-current="page">
                            {{ article.title }}
                        </li>
                        <li class="breadcrumb-item active d-md-none" aria-current="page">当前位置</li>
                    </ol>
                </nav>
                <h1 class="col-12 mt-4 mb-4">{{ article.title }}</h1>
                <div class="col-12 alert alert-success">
                    <div>
                        views:{{ article.total_views }}
                    </div>
                </div>
                <!-- 文章正文 -->
                <div class="col-12">
                    <p>{{ article.body|safe }}</p>
                </div>


                <!--评论栏-->
                <hr>
                {% if user.is_authenticated %}
                    <div>
                        <form
                                action="{% url 'comment:post_comment' article.id %}"
                                method="POST">
                            {% csrf_token %}
                            <div class="form-group">
                                <label for="comment_body">
                                    <strong>此处可发表自己的看法：</strong>
                                </label>
                                <div>
                                    {{ comment_form.media }}
                                    {{ comment_form.comment_body }}
                                </div>
                            </div>
                            <button type="submit" class="btn btn-primary">发送</button>
                        </form>
                    </div>
                    <br>
                {% else %}
                    <br>
                    <h5> 请<a href="{% url 'userprofile:login' %}" class="link_style">登录</a>后，再进行评论及回复</h5>
                {% endif %}

                <!--显示所有关于该文章的评论-->
                <h4>共有{{ comments.count }}条评论</h4>
                <div>
                    {% for comment in comments %}
                        <hr>
                        <p>
                            <strong style="color: cadetblue">{{ comment.user }}</strong>
                            于
                            <span style="color: #28a745">{{ comment.created|date:"Y-m-d H:i:s" }}</span>时评论：
                        </p>
                        <pre style="font-family: inherit;font-size: 1em;">{{ comment.comment_body| safe }}</pre>
                    {% endfor %}
                </div>
            </div>

            <!-- 文章目录-->
            {% if toc %}
                <div class="col-3  card d-none d-md-block" style="border-top-color: white">
                    <div class="sidebar" id="sidebar">
                        <div class="inner-wrapper-sticky"
                             style="position: relative;">
                            <div class="sidebar__inner">
                                <div class="card-body" style="padding: 20px 0 0 0; overflow: auto;">
                                    <!-- 目录 -->
                                    <div class="card-text toc-list" style="overflow: hidden">
                                        <h4><strong>Catalog[目录]</strong></h4>
                                        <hr>
                                        <div>
                                            {{ toc | safe }}
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            {% endif %}
        </div>
    </div>


{% endblock content %}

{% block script %}
    <script src="{% static 'js/jquery.sticky-sidebar.min.js' %}"></script>
    <script type="text/javascript">
        $(".django-ckeditor-widget").removeAttr('style');
        $('#sidebar').stickySidebar({
            topSpacing: 15,
            bottomSpacing: 20,
        });
        {% comment %}
                采用以下方式修改目录中列表图标样式
        {% endcomment %}
        let text = '<i class="fa fa-angle-right" aria-hidden="true"></i>'
        let $container = $('.toc-list');
        let $li_group = $container.find('li');
        $li_group.css('list-style', 'none')
        /*子元素的属性修改*/
        /*
        $li_group.prepend("<i>这是一个测试</i>");
        console.log($container.find('i'));
        $li_group = $container.find('i');
        $li_group.addClass("fa fa-wechat"); */
        $li_group.prepend(text);
    </script>
{% endblock script %}