<!-- extends表明此页面继承自 base.html 文件 -->
{% extends "base.html" %}
{% load static %}
{% load article_extras %}
{% block script %}
    <script>
        //对于JQuery默认参数是document，括号里的document 可以省略，也可以写成 $（function(){}） or $().ready(function(){})
        {% comment %}
        也就是说，有三种方式实现页面加载时就自动调用一个方法
                $(document).ready(function () {
                    console.log("Test,print out")
                    $("#hp_link").addClass("active");

                })
               $().ready(function () {
                    console.log("Test,print out")
                    $("#hp_link").addClass("active");
                })
        {% endcomment %}
        $(function () {
            $("#articles-link").css('color', 'rgb(235, 117, 97)');
        })

        let ele = document.getElementsByTagName("a")
    </script>

{% endblock %}

<!-- 写入 base.html 中定义的 title -->
{% block title %}
    Show All
{% endblock title %}

<!-- 写入 base.html 中定义的 content -->
{% block content %}


    <!-- 定义放置文章标题的div容器 -->
    <div class="container">
        <div class="row">
            <div class="col-lg-8">
                <div class="row">
                    <!-- 定义一个面包屑导航样式-->
                    <nav aria-label="breadcrumb" class="pl-lg-3  mr-4">
                        <ol class="breadcrumb">
                            <li class="breadcrumb-item pl-md">
                                {% if order == 'views_rank' %}
                                    <a href="{% url 'article:article_list' %}?search={{ search }}"
                                       style="text-decoration: none">
                                        <i class="fa fa-flash mr-1" title="latest"></i>
                                        &nbsp;最新
                                    </a>
                                {% else %}
                                    <a href="{% url 'article:article_list' %}?search={{ search }}"
                                       style="text-decoration: none;color: gray">
                                        <i class="fa fa-flash mr-1" title="latest"></i>
                                        &nbsp;最新
                                    </a>
                                {% endif %}
                            </li>

                            <li class="breadcrumb-item">
                                {% if order == 'views_rank' %}
                                    <a href="{% url 'article:article_list' %}?order=views_rank&search={{ search }}"
                                       style="text-decoration: none;color: gray">
                                        <i class="fa fa-fire mr-1" title="hot"></i>
                                        &nbsp;最热
                                    </a>
                                {% else %}
                                    <a href="{% url 'article:article_list' %}?order=views_rank&search={{ search }}"
                                       style="text-decoration: none">
                                        <i class="fa fa-fire mr-1" title="hot"></i>
                                        &nbsp;最热
                                    </a>
                                {% endif %}
                            </li>
                        </ol>
                    </nav>

                    <!--搜索栏-->
                    <form class="nav-item navbar-form mr-2 py-md-2" role="search" method="get">
                        <label class="sr-only">content</label>
                        <div class="input-group">
                            <label>
                                <input type="search" name="search" class="form-control rounded-0" placeholder="站内搜索"
                                       autocomplete="off" required>
                            </label>
                            <div class="input-group-btn">
                                <button class="btn btn-info rounded-0" type="submit"><i class="fa fa-search"></i>
                                </button>
                            </div>
                        </div>
                    </form>

                </div>

                {% if cur_tag %}
                    <h3><span class="gradient-text">{{ cur_tag.name }}</span>&nbsp;有关文章如下</h3>
                {% endif %}
                {% if cate %}
                    <h3><span class="gradient-text">{{ cate.title }}</span>&nbsp;有关文章如下</h3>
                {% endif %}
                {% if chose_date %}
                    <h3><span class="gradient-text">
                    {{ chose_date.0 }}年{{ chose_date.1 }}月
                        <!--通过 list.index访问列表中指定索引元素-->
                    </span>&nbsp;有关文章如下</h3>
                {% endif %}
                <!-- 搜索提示语;tips:search参数即搜索表单中的name属性为search对应的内容-->
                {% if search %}
                    {% if articles %}
                        <h5><span class="gradient-text">"{{ search }}"</span>的搜索结果如下：</h5>
                        <hr>
                    {% else %}
                        <h5>暂无<span class="gradient-text">"{{ search }}"</span>有关的文章。</h5>
                        <hr>
                    {% endif %}
                {% endif %}
                <!-- 文章以列表展示-->
                <div class="row mt-2">
                    {% for article in articles %}
                        <div class="col-12">
                            <!--栏目显示-->
                            {% if article.column %}
                                <button type="button" class="btn soft_view mb-2 ">
                                    {{ article.column }}
                                </button>
                            {% endif %}
                            <!-- 标题 -->
                            <h4>
                                <b>
                                    <a href="{% url 'article:article_detail' article.id %}"
                                       style="color: black;text-decoration: none"
                                    >
                                        {{ article.title }}
                                    </a>
                                </b>
                            </h4>
                            <!-- 摘要 -->
                            <div>
                                <p style="color: gray;">
                                    {{ article.excerpt }}...
                                </p>
                            </div>
                            <!-- 注脚 -->
                            <div>
                                <span>
                                <i class="fa fa-eye" aria-hidden="true" title="文章浏览数"></i>
                                    {{ article.total_views }}&nbsp;
                                 </span>
                                <span style="color: #43a9ea;font-weight: bold">
                                    {{ article.created|relate_time }}&nbsp
                                    <i class="fa fa-history"></i>&nbsp;
                                </span>
                                <span style="color: #D1BA74;font-weight: bold">
                                {{ article.updated|relate_time }}&nbsp;
                                    <i class="fa fa-spinner fa-spin"></i>&nbsp;
                                </span>
                            </div>
                            <hr>
                        </div>
                    {% endfor %}
                </div>
                <!-- 页码导航-->
                <div class="paginator row" style="margin-left:0;margin-right: 0;margin-bottom:5%">
                    <div class="m-auto">
            <span class="step-links">

                {% if articles.has_previous %}
                    <!--&laquo;表示左双三角符号‘<<’,&raquo;表示右双三角符号 -->
                    <a href="?page=1&order={{ order }}}&search={{ search }}" class="btn btn-success">
                        &laquo;1
                    </a>
                    <span>...</span>
                    <a href="?page={{ articles.previous_page_number }}&order={{ order }}}&search={{ search }}"
                       class="btn btn-secondary"
                    >
                        {{ articles.previous_page_number }}
                    </a>
                {% endif %}
                <!-- 当前页面-->
            <span class="current btn btn-info btn-lg">
                {{ articles.number }}
            </span>
                <!-- 如果不是最末页，则显示下翻按钮 -->
                {% if articles.has_next %}
                    <a href="?page={{ articles.next_page_number }}&order={{ order }}}&search={{ search }}"
                       class="btn btn-secondary"
                    >
                    {{ articles.next_page_number }}
                </a>
                    <span>...</span>
                    <a href="?page={{ articles.paginator.num_pages }}&order={{ order }}}&search={{ search }}"
                       class="btn btn-success"
                    >
                    {{ articles.paginator.num_pages }} &raquo;
                </a>
                {% endif %}
            </span>
                    </div>
                </div>
            </div>
            <div class="col-lg-4">
                {% show_archives %}
                {% show_categories %}
                {% show_tags %}
                {% show_share_link %}
            </div>
        </div>
    </div>
{% endblock content %}
