<div class="card shadow rounded px-3 mb-2 mb-md-3" id="category-card">
    <div class="card-header bg-white px-0">
        <strong><i class="fa fa-link mr-2 f-17"></i>网站分享</strong>
    </div>
    <div class="card-body px-0 py-3">
        <div class="tool-list">
            <div class="w-50 float-left text-center mb-2">
                <div class="mx-2">
                    <a href="https://www.dusaiphoto.com" title="杜赛" target="_blank">杜赛的个人网站</a>
                </div>
            </div>
            <div class="w-50 float-left text-center mb-2">
                <div class="mx-2">
                    <a href="https://tendcode.com" title="TendCode" target="_blank">TendCode</a>
                </div>
            </div>
            <div class="w-50 float-left text-center mb-2">
                <div class="mx-2">
                    <a href="https://www.zmrenwu.com/courses" title="杜赛" target="_blank">追梦人物的博客</a>
                </div>
            </div>
        </div>
    </div>
</div>