<!-- 标签版块 -->
<div class="card-widget card-tags">
    <div class="card-content">
        <div class="item-headline"><i class="fa fa-tags"></i>
            <span>标签</span>
        </div>
        <div class="card-tag-cloud">
            {% for tag in tag_list %}
                <a href="{% url 'article:tag-dist' tag.pk %}"
                   class="tags" title="文章数:{{ tag.num_posts }}">{{ tag.name }}</a>
            {% empty %}
                暂无标签！
            {% endfor %}
        </div>
    </div>
</div>