#nav-bg a {
    font-size: 2.0rem;
    text-decoration: none;
    color: GrayText;
}

.full-page {
    height: 30vh;
    background-attachment: fixed;
}

/*文章详情页的顶部图*/
#index_head {
    background-image: url("https://cuber.invacode.top/detail-bg.png");
    background-position: center -8rem;
    -webkit-background-size: auto;
    -moz-background-size: auto;
    background-size: auto;
    background-repeat: repeat-y;
}

#article-container.post-content #breadcrumb-style ol > li a {
    text-decoration: none;
}

#article-container.post-content #breadcrumb-style ol > li a:hover {
    text-decoration: none;
    color: darksalmon;
}


#rightside {
    bottom: 100px;
}

#rightside-config-show i {
    font-size: 2.0rem;
}

.card-content {
    opacity: 1;
    background-color: #fff;
}

#rightside #mobile-toc-button {
    display: block;
}

.toc-content a {
    font-size: 1.5rem;
    text-decoration: none;
}

.toc-content a:hover {
    color: darksalmon;
    text-decoration: none;
}

.toc-content > li:before {
    content: '\2022';
    position: relative;
    text-align: center;
    margin-right: 1rem;
}


.toc-content > li ul a:hover {
    color: #19CAAD;
}

#comment_block button{
    font-size: 1.5rem;
}

#article-body .codehilite code{
font-size: 2.5rem;
}
