@font-face {
    font-family: "bauerboddee";
    src: url('../fonts/Bauerboddee/bauerboddee_bold_italic.eot') format('embedded-opentype'), url('../fonts/Bauerboddee/bauerboddee_bold_italic.woff') format('woff'), url('../fonts/Bauerboddee/bauerboddee_bold_italic.woff2') format('woff2'), url('../fonts/Bauerboddee/bauerboddee_bold_italic.ttf') format('truetype'), url('../fonts/Bauerboddee/bauerboddee_bold_italic.svg') format('svg');
    font-style: normal;
    font-weight: normal;
}

@font-face {
    font-family: "Azonix";
    src: url('../fonts/Azonix/Azonix.eot') format('embedded-opentype'), url('../fonts/Azonix/Azonix.woff') format('woff'), url('../fonts/Azonix/Azonix.woff2') format('woff2'), url('../fonts/Azonix/Azonix.ttf') format('truetype'), url('../fonts/Azonix/Azonix.svg') format('svg');
    font-style: normal;
    font-weight: normal;
}


@font-face {
    font-family: "plainKai";
    src: url('../fonts/plainKai/清楷体.eot') format('embedded-opentype'), url('../fonts/plainKai/清楷体.woff') format('woff'), url('../fonts/plainKai/清楷体.woff2') format('woff2'), url('../fonts/plainKai/清楷体.ttf') format('truetype'), url('../fonts/plainKai/清楷体.svg') format('svg');
    font-style: normal;
    font-weight: normal;
}

