
.new-container {
    height: 100%;
    width: 100%;
    position: relative;
}

.new-row {
    height: 600px;
    width: 100%;
    line-height: 600px;
    text-align: center;
}

.lead {
    position: relative;
    width: 100%;
    font-size: 50px;
}

#lead_text {
    font-family: 'cyzcuxingkai2428b7ff842297b';
    color: whitesmoke;
}

