{% load static %}
<!-- Footer -->
<footer class="container-fluid py-0 bg-dark fixed-bottom" id="nav-footer">
    <div class="card-body text-center text-white px-0 f-14 py-0">
        <!--target=_blank设置为从新标签页打开链接 -->
        <p class="card-text mb-1 text-light">
            Copyright&nbsp;&copy;&nbsp; Invacoder 2020
            <a href="https://github.com/Cuber-final" class="footer_link" target="_blank"
               title="Cuber的项目源码" style="color: lightskyblue">Cuber-final</a>
            .&nbsp;Powered&nbsp;by&nbsp;Django.
        </p>
        <p class="card-text mb-0 text-light">
            <a href="http://beian.miit.gov.cn" target="_blank" class="footer_link"
               title="工信部备案号">粤ICP备2020102811号</a><br/>
            <a href="http://www.beian.gov.cn/portal/registerSystemInfo?recordcode=44060602001797" target="_blank"
               class="footer_link"
               title=公安备案号">
                <img src="/static/image/备案图标.png" alt="icon"/>&nbsp;粤公网安备 &nbsp;44060602001797号
            </a>
        </p>
    </div>
</footer>