{% load static %}
<!-- Footer -->
<footer id="footer">
    <div class="footer-wrap">
        <div class="copyright">©2020 &nbsp;<a href="https://github.com/Cuber-final" target="_blank" style="color: #00c4b6;">Cuber-final</a>
        Powered by <a href="https://www.djangoproject.com/start/overview" target="_blank" style="color: lightgreen;">Django</a></div>
    </div>
    <div class="footer-wrap">
        <div class="record-number">
            <a href="http://beian.miit.gov.cn" target="_blank" class="footer_link"
               title="工信部备案号">粤ICP备2020102811号</a>
            <br/>
            <a href="http://www.beian.gov.cn/portal/registerSystemInfo?recordcode=44060602001797" target="_blank"
               class="footer_link"
               title=公安备案号">
                <img src="/static/image/备案图标.png" alt="icon"/>&nbsp;粤公网安备 &nbsp;44060602001797号
            </a>
        </div>
    </div>
</footer>