{% load static %} {% load article_extras %}
<!-- 定义导航 site_logo-->

<!--页面固定的首部样式--导航栏，将放到各页面中自用-->
<nav class="navbar navbar-expand-lg bg-transparent" id="nav-bg">
    <!--website-navLogo-->

    <a class="navbar-brand text-white" href="{% url 'homepage' %}" style="margin-right: 30%;"
       id="invacodeLogo">Invacode</a>
    <!--按钮组用来适应不同屏幕大小的情况下，将下面的按钮链接折叠在按钮组中显示-->
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navDropdown"
            aria-controls="navDropdown" aria-expanded="false" aria-label="Toggle navigation">
        <i class="fa fa-angle-down text-white" aria-hidden="true"></i>
    </button>
    <!-- 导航栏-->
    <div class="collapse navbar-collapse" id="navDropdown">
        <ul class="navbar-nav ml-auto">
            <li class="nav-item">
                <a class="nav-link py-md-3" id="articles-link" href="{% url 'homepage' %}">
                    <i class="fa fa-superpowers mr-1"></i>Articles
                    <span class="sr-only">(current)</span>
                </a>
            </li>

            <!--github链接图标-->
            <li class="nav-item">
                <a class="nav-link py-md-3" id="github-link" href="https://github.com/Cuber-final">
                    <i class="fa fa-github fa-lg" aria-hidden="true"></i>
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link py-md-3 " href="{% url 'homepage' %}">
                    <i class="fa fa-cube mr-1"></i>About</a>
            </li>
        </ul>
    </div>
</nav>
