<!-- extends表明此页面继承自 base.html 文件 -->
{% extends "base.html" %} {% load static %}


<!-- 写入 base.html 中定义的 title -->
{% block title %} Welcome {% endblock title %}
{% block link %}
    <link  type="text/css" rel="stylesheet" href="{% static 'custom/Home.css' %}">
{% endblock %}
<!-- 写入 base.html 中定义的 content -->

<!--搭建首页样式-->
{% block content %}
    <div class="new-container">
        <div class="new-row">
            <p class="lead text-center" id="lead_text">Welcome to My Blog </p>
            <p class="tagline text-center">学习源自生活? </p>
        </div>
    </div>

{% endblock content %}