<div id="rightside" style="opacity: 1; transform: translateX(-45px) ">
    <div id="rightside-config-show">
        <div>
            <button id="rightside_config" type="button" title="設定">
                <i class="fa fa-cog fa-2x"></i>
            </button>
        </div>
        <div>
            <button class="close" id="mobile-toc-button" type="button" title="目录" onclick="showToc(this)">
                <i class="fa fa-list-alt fa-2x"></i>
            </button>
        </div>
        <div>
            <button id="go-up" type="button" title="回到頂部"><i class="fa fa-arrow-up fa-2x"></i></button>
        </div>
    </div>
</div>

<script type="text/javascript">
    function showToc() {
        var status = $("#mobile-toc-button").attr('class');
        if (status == "close") {
            $("#card-toc").css('display', 'block');
            $("#mobile-toc-button").attr('class', 'open');
        } else {
            $("#card-toc").css("animation", "toc-close .3s ease-in-out")
            $("#mobile-toc-button").attr('class', 'close');
            setTimeout(function() {
                $("#card-toc").css({
                    display: "none",
                    animation: "toc-open .2s ease-in-out",
                })
            }, 200);
        }
    }
    // 向上滚动的函数
    $(function() {
        $('#go-up').click(function() {
            $('html,body').animate({
                scrollTop: 0
            }, 500)

        });
        $(window).scroll(function() {
            if ($(this).scrollTop() > 300) {
                $('#BackTop').fadeIn(300);
            } else {
                $('#BackTop').stop().fadeOut(300);
            }
        }).scroll();

    });
</script>