{% extends "base.html" %}
{% load static %}
{% load article_extras %}
{% load comments_extras %}

{% block title %}
    {{ article.title }}
{% endblock title %}
{% block link %}
{% endblock %}
{% block content %}
    <script>
        $(document).ready(function () {
            $("#back-bg").addClass("detail-bg");
        });
    </script>
    <div class="container-fluid p-0 page-head full-page" id="detail-head">
        <!--引入导航栏-->
        {% include 'header.html' %}
    </div>
    <!--正文及全屏浏览下的目录布局-->
    <main class="layout" id="content-inner">

        <div id="post">
            <article class="post-content" id="article-container">
                <!-- 文章面包屑导航部分 -->
                <nav aria-label="breadcrumb" id="breadcrumb-style" class="d-sm-flex">
                    <ol class="breadcrumb bg-white">
                        <li class="breadcrumb-item">
                            <a href="{% url 'homepage' %}" id="first-item"><i class="fa fa-home"></i>Articles</a>
                        </li>
                        <!--category-->
                        <li class="breadcrumb-item">
                            <a href="{% url 'article:category' article.column.id %}">
                                <i class="fa fa-bars"></i>{{ article.column }}
                            </a>
                        </li>
                        <!--title of the current article-->
                        <li class="breadcrumb-item active" aria-current="page">
                            {{ article.title }}
                        </li>
                    </ol>
                </nav>
                <hr>
                <div class="col ml-2">
                    <i class="fa fa-eye"></i>{{ article.total_views }}&nbsp;&nbsp;&nbsp;&nbsp;
                    <span style="color: #43a9ea;font-weight: bold">
                            {{ article.created|date:'Y-m-d' }}&nbsp
                            <i class="fa fa-history"></i>&nbsp;
                        </span> &nbsp&nbsp&nbsp
                    <span style="color: #D1BA74;font-weight: bold">
                            {{ article.updated|date:'Y-m-d' }}&nbsp;&nbsp
                            <i class="fa fa-spinner fa-spin"></i>&nbsp;
                        </span>&nbsp&nbsp&nbsp
                    <span><a href="#" disabled="true"><i class="fa fa-comment"></i>如有浏览体验的问题以及Bug，欢迎联系我</a></span>
                </div>

                <div class="article-body">
                    {{ article.body|safe }}
                </div>

                <hr>
                <!--<h3>点赞版块</h3>-->
                {% show_likes_num article %}
            </article>
        </div>


        <!-- 文章目录-->
        <div class="aside_content" id="aside_content">
            <div class="sticky_layout">
                <div class="card-widget" id="card-toc">
                    <div class="card-content">
                        <!-- 目录标题 -->
                        <div class="item-headline"><i class="fa fa-stream"></i><span>目录</span></div>
                        <!-- 目录主体 toc|safe-->
                        <div class="toc-content">
                            {% if toc %}
                                {{ toc|safe }}
                            {% endif %}
                        </div>
                    </div>
                </div>
            </div>
        </div>
        {% comment %}comment-template{% endcomment %}
    </main>
{% endblock content %}
