<!-- 直接引用至首页Home.html -->
{% load static %}
{% load article_extras %}


<!-- 首部功能栏 -->
<div class="row" id="head-tools">
    <div class="col-sm">
        <!-- 定义一个面包屑导航样式-->
        <nav aria-label="breadcrumb" class="align-items-center" id="nav-breadCrumb">
            <ol class="breadcrumb bg-transparent">
                <li class="breadcrumb-item">
                    {% if order == 'views_rank' %}
                        <a href="{% url 'homepage' %}?search={{ search }}#content-inner"
                           style="text-decoration: none">
                            <i class="fa fa-flash mr-1" title="latest"></i>
                            &nbsp;最新
                        </a>
                    {% else %}
                        <a href="{% url 'homepage' %}?search={{ search }}#content-inner"
                           style="text-decoration: none;color: gray">
                            <i class="fa fa-flash mr-1" title="latest"></i>
                            &nbsp;最新
                        </a>
                    {% endif %}
                </li>
                <li class="breadcrumb-item">
                    {% if order == 'views_rank' %}
                        <a href="{% url 'homepage' %}?order=views_rank&search={{ search }}#content-inner"
                           style="text-decoration: none;color: gray">
                            <i class="fa fa-fire mr-1" title="hot"></i>
                            &nbsp;最热
                        </a>
                    {% else %}
                        <a href="{% url 'homepage' %}?order=views_rank&search={{ search }}#content-inner"
                           style="text-decoration: none">
                            <i class="fa fa-fire mr-1" title="hot"></i>
                            &nbsp;最热
                        </a>
                    {% endif %}
                </li>
            </ol>
        </nav>
    </div>
</div>
{% if cur_tag %}
    <h3><span class="gradient-text">{{ cur_tag.name }}</span>&nbsp;有关文章如下</h3>
{% endif %}
{% if cate %}
    <h3><span class="gradient-text">{{ cate.title }}</span>&nbsp;有关文章如下</h3>
{% endif %}
{% if chose_date %}
    <h3><span class="gradient-text">
                    {{ chose_date.0 }}年{{ chose_date.1 }}月
        <!--通过 list.index访问列表中指定索引元素-->
                    </span>&nbsp;有关文章如下</h3>
{% endif %}
<!-- 搜索提示语;tips:search参数即搜索表单中的name属性为search对应的内容-->

<!-- 文章列表以及侧边栏展示页 -->
<div class="layout" id="content-inner">
    <!-- 文章列表展示以及分页 -->
    <div class="recent-posts" id="recent-posts">
        {% for article in articles %}
            <div class="recent-post-item">
                <div class="post_cover left_radius">
                    <a href="{% url 'article:article_detail' article.id %}">
                        <img class="post_bg loaded"
                             alt="{{ article.title }}"
                             data-ll-status="loaded"
                                {% ifnotequal article.thumbnail.url "/media/thumbnail" %}
                             src="{{ article.thumbnail.url }}"
                                {% else %}
                             src="/static/image/detail-bg.png"
                                {% endifnotequal %}>
                    </a>
                </div>
                <div class="recent-post-info">
                    <a href="{% url 'article:article_detail' article.id %}" class="article-title">
                        {{ article.title }}
                    </a>
                    <div class="d-sm-flex">
                        <i class="fa fa-calendar" aria-hidden="true" title="创建时间">{{ article.created|relate_time }}</i>
                        <i class="fa fa-history" aria-hidden="true" title="更新时间"> {{ article.updated|relate_time }}</i>
                        <i class="fa fa-eye" aria-hidden="true" title="文章浏览数"> {{ article.total_views }}&nbsp;</i>
                    </div>
                    <hr>
                    <div class="content" title="文章摘要">{{ article.excerpt }}...</div>
                </div>

            </div>
        {% endfor %}
        <div class="pagination">
            <div class="m-auto">
                <span class="step-links">
                    <!-- 如果不是第一页，则显示上翻按钮 -->
                    {% if articles.has_previous %}
                        <span class="font-paginator">&#171;&nbsp;</span>
                        <span>...</span>
                        <a href="?page={{ articles.previous_page_number }}#content-inner"
                           class="font-paginator">1
                            {% ifnotequal articles.previous_page_number 1 %}
                                {{ articles.previous_page_number }}
                            {% endifnotequal %}
                        </a>
                    {% endif %}
                    <!-- 当前页面 -->
                    <span class="font-paginator" style="font-size: x-large;color: white">{{ articles.number }}</span>
                    <!-- 如果不是最末页，则显示下翻按钮 -->
                    {% if articles.has_next %}
                        <a href="?page={{ articles.next_page_number }}#content-inner" class="font-paginator">
                        {% ifnotequal article.next_page_number articles.paginator.num_pages %}
                            {{ article.next_page_number }}
                        {% endifnotequal %}
                        </a>
                        <span>...</span>
                        <a href="?page={{ articles.paginator.num_pages }}#content-inner"
                           class="font-paginator">{{ articles.paginator.num_pages }}&nbsp;&#187;</a>
                    {% endif %}
        </span>
            </div>
        </div>
    </div>


    <!-- 侧边栏部分 -->
    <div class="aside_content" id="aside_content">
        <div class="sticky_layout">
            <!--分类版块-->
            {% show_categories %}
            <!--归档版块-->
            {% show_archives %}
            <!--标签版块-->
            {% show_tags %}
            <!--归档版块-->
            {% comment %}{% show_share_link %}{% endcomment %}
        </div>
    </div>
</div>
<script>
    $(document).ready(function () {
        $("#mobile-toc-button").css("display","none");
        $("#back-bg").addClass("home-bg");
    });
</script>